<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat-Da-Burger</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- link css stylesheet -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
		<!-- link bootstap stylesheet-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- link font awesome icons -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<!-- link google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
		
		<!-- link jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- source code for javascript -->
		<script src="/assets/js/public.js"></script>
		<!-- link bootstrap javascript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	</head>
	<body>
		{{{ body }}}
	</body>
</html>